body
{
  font-family: "Calibri", cursive, sans-serif ; 
    background-repeat:no-repeat;
}
#wrapper
{
    width:80%;
    margin-top: 3%;
    margin-right:10%;
    margin-left: 10%;
    height:auto;
    height:auto;
}
#Banner
{
    background-color: #ED146F;
    border: 2px solid black;
    padding: 10px;
}
#Banner h1, p
{
    color:white;
}
#Navigation
{
    background-color:white;
    border: 2px solid black;
}
#Navigation ul
{
    list-style-type:none;
    text-align:center
}
#Navigation li
{
    display: inline-block;
    margin:30px;
    color:black;
}
#Side-Content
{
    background-color:#61D2D6;
    border: 2px solid black;
    padding:20px;
}
#Article
{
    padding-top:0px;
    border: 2px solid black;
    margin:0px;
}
#Article h2
{
    background-color:#EDDE45;
    height: 50px;
    text-align:center;
    padding:5px;
    color:aliceblue;
    margin-bottom:0px;
    margin-top:0px;
}
#Article p
{
    background-color:white;
    height: auto;
    text-align:justify;
    padding-top:0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    color:black;
    margin-top:0px;
}